{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home/guideline.css' %}?after %}">



<section>
    <div class="side-nav">
        <ul class="d-flex">
            <li>생활관리&nbsp;<i class="fas fa-angle-right" style="color: #a7a7a7;"></i></li>
            <li><a href="{%url 'home:calendar' %}" >캘린더</a></li>
            <li><a href="{%url 'home:living_rules' %}" >생활수칙</a></li>
            <li><a href="{%url 'home:guideline' %}" style="border-bottom: #fbdb67 2px solid;">가이드라인</a></li>
        </ul>
    </div>

    <form action="" method="POST" enctype="multipart/form-data" class="guideline-form">
        {% csrf_token %}
        <div class="guideline-container">
            <h2>가이드라인</h2>
            <div class="questions">
                <div class="guideline_q">
                    <h3>1. 최대한 조용히 해야 하는 시간</h3>
                    <div class="choices">
                        <div class="choice">
                            <input type="radio" id="ten" name="silenttime" value="오후 10시부터" required>
                            <label for="ten">오후 10시부터</label>
                        </div>
        
                        <div class="choice">
                            <input type="radio" id="twelve" name="silenttime" value="오후 12시부터" required>
                            <label for="twelve">오후 12시부터</label>
                        </div>
        
                        <div class="choice">
                            <input type="radio" id="two" name="silenttime" value="오전 2시부터" required>
                            <label for="two">오전 2시부터</label>
                        </div>
                    </div>
                    </br>
                </div>
        
                <div class="guideline_q">
                    <h3>2. 전화와 알람 관련</h3>
                    <div class="choices">
                        <div class="choice">
                            <input type="radio" id="yes" name="alarm" value="항상 서로 미리 알려주기" required>
                            <label for="before">항상 서로 미리 알려주기</label>
                        </div>
                        <div class="choice">
                            <input type="radio" id="no" name="alarm" value="신경 쓰지 않음" required>
                            <label for="dont_care">신경 쓰지 않음</label>
                        </div>
                    </div>
                    </br>
                </div>
        
                <div class="guideline_q">
                    <h3>3. 룸메와 활발한 친목하기</h3>
                    <div class="choices">
                        <div class="choice">
                            <input type="radio" id="yes" name="friendship" value="O" required>
                            <label for="yes">O</label>
                        </div>
                        <div class="choice">
                            <input type="radio" id="no" name="friendship" value="X" required>
                            <label for="no">X</label>
                        </div>
                    </div>
                    </br>
                </div>
        
                <div class="guideline_q">
                    <h3>4. 공과금 및 월세 지출 방식 </h3>
                    <div class="choices">
                        <div class="choice">
                            <input type="radio" id="regular" name="expense" value="한 달에 한 번 모아서" required>
                            <label for="regular">한 달에 한 번 모아서</label>
                        </div>
                        <div class="choice">
                            <input type="radio" id="irregular" name="expense" value="그때그때 모아서" required>
                            <label for="irregular">그때그때 모아서</label>
                        </div>
                    </div>
                    </br>
                </div>
        
                <div class="guideline_q">
                    <h3>5. 공유 품목 </h3>
                    <div class="choices">
                        <div class="choice">
                            <input type="checkbox" id="food" name="share[]" value="식품">
                            <label for="food">식품</label>
                         </div>
                         <div class="choice">
                            <input type="checkbox" id="appliance" name="share[]" value="가전제품" >
                            <label for="appliance">가전제품</label>
                         </div>
                         <div class="choice">
                            <input type="checkbox" id="cloth" name="share[]" value="옷" >
                            <label for="cloth">옷</label>
                         </div>
                         <div class="choice">
                            <input type="checkbox" id="towel" name="share[]" value="수건" >
                            <label for="towel">수건</label>
                         </div>
                    </div>
                    </br>
                </div>
        
                <div class="guideline_q">
                    <h3>6. 다른 사람 초대가 가능한지 </h3>
                    <div class="choices">
                        <div class="choice">
                            <input type="radio" id="6_no_roommate" name="invite" value="룸메가 없을 때 초대가능" required>
                            <label for="6_no_roommate">룸메가 없을 때 초대 가능 </label>
                        </div>
        
                        <div class="choice">
                            <input type="radio" id="6_yes_roommate" name="invite" value="룸메가 있어도 초대가능" required>
                            <label for="6_yes_roommate">룸메가 있어도 초대 가능 </label>
                        </div>
        
                        <div class="choice">
                            <input type="radio" id="6_never" name="invite" value="초대 절대 불가능" required>
                            <label for="6_never">절대 불가능</label>
                        </div>
                    </div>
                    </br>
                </div>
        
                <div class="guideline_q">
                    <h3>7. 다른 사람 숙박이 가능한지  </h3>
                    <div class="choices">
                        <div class="choice">
                            <input type="radio" id="7_no_roommate" name="sleep" value="룸메가 없을 때 숙박가능" required>
                            <label for="7_no_roommate">룸메가 없을 때 숙박 가능 </label>
                        </div>
        
                        <div class="choice">
                            <input type="radio" id="7_yes_roommate" name="sleep" value="룸메가 있어도 숙박가능" required>
                            <label for="7_yes_roommate">룸메가 있어도 숙박 가능 </label>
                        </div>
        
                        <div class="choice">
                            <input type="radio" id="7_never" name="sleep" value="초대 절대 불가능" required>
                            <label for="7_never">절대 불가능</label>
                        </div>
                    </div>
                    </br>
                </div>
            </div>

            <button type="submit" class="sbtn btn-lg btn-outline-warning rounded-pill px-4 py-2 button-bg-white " >저장</button>            
        </div>

    </form>
</section>
{% endblock %}

