{% extends 'base.html' %}
<section>
    {% block side-nav %}
    <div class="side-nav">
		<ul class="d-flex">
			<li>생활관리&nbsp;<i class="fas fa-angle-right" style="color: #a7a7a7;"></i></li>
			<li><a href="{%url 'home:calendar' %}">캘린더</a></li>
			<li><a href="">생활수칙</a></li>
			<li><a href="">가이드라인</a></li>
		</ul>
	</div>
    {% endblock %}

    {% block page-side-menu %}
	<div class="d-flex mt-4 plr-6 justify-content-center">
		<div id="todo-side">
			<div id="cal-profile" class="text-center d-flex flex-column align-items-center pt-3">
                <div class="cal-profile-title">
                    <!-- 타이틀 가져오는 거로 바꿔야 함 -->
                    🏅킹갓
                </div>
                <div class="cal-profile-box">
                    <img class="cal-profile-img" src={% if user.profile_img %}"{{user.profile_img.url}}"{% else %}"https://images.unsplash.com/photo-1561948955-570b270e7c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=301&q=80"{% endif %}>
                    
                </div>
                <div class="cal-profile-username">
                    {{user.nick_name}}
                    <p>@{{username}}</p>
                </div>
            </div>
            <div id="cal-house-name" class="cal-side-box position-relative">
                {{request.user.home.name}}
                <div class="position-absolute" style="top: -5%; right: -5%;">
                    <div class="btn btn-sm bg-secondary" style="border-radius: 50%;">
                        <a href="{% url 'setting:myhome_detail' %}">
                            <i class="fas fa-cog text-white"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div id="cal-house-info" class="cal-side-box">
                <p style="padding-bottom: 1rem;">{{ today }}</p>
                {% if request.user.home.is_rent %}
                <p>월세 납부일<span class="ps-3">{{request.user.home.rent_date}}일</span></p>
                {% endif %}
                {% for utility in utility_list %}
                    <p>{{utility.name}} 납부일<span class="ps-3">{{utility.date}}일</span></p>
                {% endfor %}
            </div>
		</div>
    {% endblock %}
</section>