{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
	<div class="side-nav">
		<ul class="d-flex">
			<li>생활관리</li>
			<li><a href="{%url 'calendar' %}">캘린더</a></li>
			<li><a href="">생활수칙</a></li>
			<li><a href="">가이드라인</a></li>
		</ul>
	</div>
	
	<div class="d-flex mt-4">
		<div id="todo-side" class="mx-5">
			<div id="cal-profile" class="text-center d-flex flex-column align-items-center pt-2">
                <div class="cal-profile-title border rounded-pill px-3 py-1">
                    <!-- 타이틀 가져오는 거로 바꿔야 함 -->
                    🏅킹갓
                </div>
                <div class="cal-profile-box my-3">
                    <img class="cal-profile-img" src={% if user.profile_img %}"{{user.profile_img.url}}"{% else %}"https://images.unsplash.com/photo-1561948955-570b270e7c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=301&q=80"{% endif %}>
                    
                </div>
                <div class="cal-profile-username">
                    {{user.nick_name}}
                    <p>@{{username}}</p>
                </div>
            </div>
            <div id="cal-house-name" class="text-center border py-4 my-3 position-relative" style=" width: 15rem; border-radius: 0.5rem;">
                {{request.user.home.name}}
                <div class="position-absolute" style="top: -5%; right: -5%;">
                    <div class="btn btn-sm bg-secondary " style="border-radius: 50%;"><a href="" class="text-light"><i class="fas fa-cog "></i></a></div>
                </div>
            </div>
            <div id="cal-achieve-rate" class="text-center py-4 border" style="border-radius: 0.5rem; width: 15rem;">
                <p>월세 납부일<span class="ps-3">30일</span></p>
                <p>공과금 납부일<span class="ps-3">30일</span></p>
            </div>
		</div>
	
		<div class="todo-main">
			<div id="todo">
				<div>
					<h2>오늘해야하는 {{username}}님의 할일 ~</h2>
					<a type="button" class="add-btn btn btn-ligth" data-bs-toggle="modal" href="#addToDoModal">등록</a>
					<div class="user-todos">
						{% for user_todo in user_todos %}
						<div class="user-todo">
							<p>{{user_todo.content}}</p>
							<button type="button" class="edit-btn {{user_todo.id}} btn btn-ligth" data-bs-toggle="modal" data-bs-target="#editToDoModal">수정</button>
							<button class="delete-btn {{user_todo.id}} btn btn-ligth">삭제</button>
						</div>
						{% endfor %}
					</div>

					<h2>오늘해야하는 전체 할일~</h2>
					<a type="button" class="add-btn btn btn-light" data-bs-toggle="modal" href="#addToDoModal">등록</a>
					<div class="total-todos">
						{% for total_todo in total_todos %}
						<div class="total-todo">
							<p>{{total_todo.content}}</p>
							<button type="button" class="edit-btn {{total_todo.id}} btn btn-light" data-bs-toggle="modal" data-bs-target="#editToDoModal">수정</button>
							<button class="delete-btn {{total_todo.id}} btn btn-ligth">삭제</button>
						</div>
						{% endfor %}
					</div>

				</div>
				
			</div> <!-- todo-->

		</div>

	</div>
</section>




<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">모달 예시-버튼</button>

<a type="button" class="btn btn-primary" data-bs-toggle="modal" href="#exampleModal">모달 예시-a태그</a> -->

<!-- Modal -->

<div class="modal fade" id="addToDoModal">
    <div class="modal-dialog">
        <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title">할 일 추가하기</h5>
		            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		        </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.as_table }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">저장</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editToDoModal">
    <div class="modal-dialog">
        <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title">할 일 수정하기</h5>
		            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		        </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.as_table }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">저장</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </form>
        </div>
    </div>
</div>


{% endblock %}