{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home/living_rules.css' %}">

<div class="side-nav">
    <ul class="d-flex">
        <li>생활관리&nbsp;<i class="fas fa-angle-right" style="color: #a7a7a7;"></i></li>
        <li><a href="{%url 'home:calendar' %}" >캘린더</a></li>
        <li><a href="{%url 'home:living_rules' %}" style="border-bottom: #fbdb67 2px solid;">생활수칙</a></li>
        <li><a href="">가이드라인</a></li>
    </ul>
</div>

<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#guidelinemodal">가이드라인 모달</button>


<div class="living-rules-container">


    <h2>생활수칙</h2>
    <div class="living-rules">
        {% for cate, rules in order_rules.items %}
        <div class="living-rule">
            <button type="button" class="category"  >
                <h3 class="category-name">
                    <a href="{% url 'home:living_rule_new' cate.pk %}">{{ cate.name }}</a>
                    <i class="fa-solid fa-plus"></i>  
                </h3>
    
            </button>
        
            <ul>
                {% for m in rules %}
                    <li class="rule-content">
                        <p>{{ m.content }}</p>
                        <div class="content-btns">
                            <button class="edit-btn"><a href="{% url 'home:living_rule_edit' pk=m.pk %}">수정</a></button>
                            <button class="del-btn"><a href="{% url 'home:living_rule_delete' pk=m.pk %}">삭제</a></button>
    
                        </div>
                    </li>
        
                {% endfor %}
            </ul>
        </div>
    
    
        {% endfor %}
    </div>


</div>



<!-- Modal -->
<div class="modal fade" id="guidelinemodal" tabindex="-1" aria-labelledby="guidelineModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="guidelineModalLabel">가이드라인 보기</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                가이드라인을 보시겠습니까?
            </div>
            <div class="modal-footer">
                <hr>
                <button type="button" class="skip_btn" data-bs-dismiss="modal">건너뛰기</button>
                <a href="{%url 'home:guideline' %}" class="movetoguideline">보기</a>
            </div>
            </div>
        </div>
    </div>

{% endblock %}

