.calendar {
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

.calendar_header {
    display: inline-block;
}

.ym-wrapper {
    font-size: 35px;
}

.calendar_nav {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid #333333;
}

.nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}

.go-today {
    width: 80%;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.calendar_main{
    border-collapse: collapse;
    width: 100%;
}

.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
    transition: all .3s;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #333333;
}

.date {
    cursor: pointer;
    width: calc(100% / 7);
    padding: 5% 2%;
    text-align: center;
    border: 1px solid #333333;
    transition: all .3s;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

.other {
    color: rgba(88, 88, 88, 0.315) !important;
}

.today {
    position: relative;
    background-color: #ff1c1c96;
}

.selected{
    background-color: black;
    color: #ffffff !important;
}