.nav-tabs {
    justify-content: start;
}

p span {
    font: 2rem;
    font-weight: bold;
}

.todo-main {
    margin-left: 5rem;
    padding-right: 5rem;
    overflow: hidden;
    width: 75%;
}

.tab-content {
    height: 90%;
}

.todo-section {
    display: flex;
    height: inherit;
}

.todos {
    padding-left: 2rem;
    width: 50rem;
}

.todos h4 {
    font-weight: bold;
}

.cate-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.cate {
    display: inline-block;
}

.user-todo-cnt {
    border-radius: 1rem;
    width: 20rem;
    padding: 2rem;
    background-color: #ddd;
    margin: 1.5rem;
}

input {
    appearance: radio!important;
}