{% extends 'base.html' %}
{% load static %}

{% block content %}
 <!-- user가 로그인 했을 때 && 유저가 집 없는 경우 OR 집 있는 경우-->
{% if request.user.is_authenticated %} 
<div id="intro-main" class="intro-main" style="background-color: #FDF4E8; height: 100vh;">
   <div id="intro-main-cnt" class="intro-main-cnt position-relative cnt-padding">
        {% if request.user.home == None %} <!-- 유저가 집이 없는 경우 -->        
            <div style="z-index: 3; position: relative; padding-top: 5rem;">
                <h2>🖐️<br>{{ user.nick_name }}님</h2>
                <h2>만나서 반갑습니다!</h2>
            </div>
            <div style="z-index: 3; position: relative; margin-top: 4rem; margin-bottom: 2rem;">
                <p>서비스를 시작하기 전에<br>
                룸메이트 등록과 집 설정을 먼저 해주세요!</p>
            </div>
            <div style="z-index: 3; position: relative;">
                <button class="btn btn-lg btn-outline-warning rounded-pill button-bg-white px-4 py-2"><a href="{% url 'setting:myhome_register' %}">집 등록</a></button>
                <button class="btn btn-lg btn-outline-warning rounded-pill px-4 py-2 button-bg-white "><a href="{% url 'login:mypage' %}">초대 확인</a></button>
            </div>
        {% else %} <!-- 유저가 집이 있는 경우 -->
            <div class="mt-5" style="max-width: 46rem;">
                <h2>🏡</h2>
                <p>{{user.nick_name}}네 집</p>
                <h2>{{ user.home.name }}</h2>
            </div>
            <div class="mt-5" style="z-index: 3; position: relative;">
                <p>오늘도 노크노크와 함께<br>
                간편하게 평화로운 생활을 즐겨보아요! </p>
            </div>
            <div class="mt-5" style="z-index: 3; position: relative;">
                {% if user.home.living_rule.count is 0 %}
                <button class="btn btn-lg btn-outline-warning rounded-pill px-4 py-2 button-bg-white "><a href="{% url 'setting:myhome_detail' %}">집 관리</a></button> 
                <button class="btn btn-lg btn-outline-warning rounded-pill px-4 py-2 button-bg-white"><a href="{{ today_date_url }}">생활 관리</a></button> 
                <div class="mt-2">
                    <button class="btn btn-lg btn-warning rounded-pill px-4 py-2 "><a href="{% url 'home:living_rules' %}">생활 수칙 만들기</a></button> 
                </div>
                {% else %}
                <button class="btn btn-lg btn-outline-warning rounded-pill px-4 py-2 button-bg-white "><a href="{% url 'setting:myhome_detail' %}">집 관리</a></button> 
                <button class="btn btn-lg btn-warning rounded-pill px-4 py-2 "><a href="{{ today_date_url }}">생활 관리</a></button> 
                {% endif %}
            </div>

            <a href="{{ today_date_url }}" style="z-index: 4;">
                <div id="intro-main-todo" class="text-center">
                <h6>{{ today_date }}</h6>
                <h5>오늘의 할 일</h5>
                
                {% if user_todos.count is 0 %}
                    <p>현재 할 일이 없어요~!</p>
                {% else %}
                    {% for user_todo in user_todos %}
                        <div class="user-todo">
                            <p>{{user_todo.content}}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div></a>
        {% endif %}
    </div>
</div>


<!-- user가 로그인 하지 않은 상태의 메인 서비스 소개 페이지-->
{% else %}
<div id="intro-main-notlog"  class="intro-main-notlog" style="height: 100vh; background-color: #FDF4E8;">
    <div id="intro-main-notlog-cnt" class="intro-main-cnt cnt-padding">
        <div style="z-index: 3; position: relative;">
            <h5>룸메이트와의 쾌적하고 편안한 생활 지킴이</h5>
            <h1>KNOCK</h1>
        </div>

        <p style="z-index: 3; position: relative;"><span>노크노크</span>는 한 지붕 아래 함께 살아가는 사람들과의 안정적인 
            거주 생활을 도와주기 위한 서비스입니다<br>
            지금 <span>노크노크</span>를 시작해보세요!</p>

        <div class ="door-img-box" style="z-index: 2;">
            <a href="{% url 'login:login' %}"><img src="{% static 'img/knock_door.png' %}" style="width: 50rem;"></a>
        </div>
        <div class="text-end" style="z-index: 2;">
            <h1>KNOCK</h1>
        </div>
    </div>
</div>
{% endif %}
<div id="intro-ment">
    <div style="width: 6rem; height: 6rem; background-color: #ddd;"></div>
    <h4>KNOCK/KNOCK</h4>
    <h5>"우리 노크정도는 하고 살자고요!"</h5>
</div>


<div id="intro-persona">
    <div class="py-3 text-center" id="intro-persona-title">
        <div>
        <p>Why?</p></div>
        <h5>룸메이트와 함께 살기, 어렵지 않냐고요?</h5>
        <h6>룸메이트와의 생활이<br>점점 지치고 막막하게만 느껴지시나요?</h6>
    </div>

    <div class="d-flex flex-column align-items-center">
        <div class="mt-5 d-flex flex-row"  style="margin-left: -32rem;">
            <img src="{% static 'img/intro-avatar1.png' %}">
            <div class="persona-box">
            <h6>20대, 대학생</h6>
            <p>“룸메이트와 자취를 시작할 예정인데 처음이라 뭐부터 해야할지 &nbsp;모르겠어요”</p></div>
        </div>
        <div class="mt-5 d-flex flex-row" style="margin-left: 32rem;">
            
            <div class="persona-box" style="background-color: rgb(236, 252, 178);">
                <h6>20대, 대학생</h6>
                <p>“룸메이트와 자취를 시작할 예정인데 처음이라 뭐부터 해야할지 &nbsp;모르겠어요”</p>
            </div>
            <img src="{% static 'img/intro-avatar2.png' %}">
        </div>
        <div class="mt-5 d-flex flex-row" style="margin-left: -32rem;">
            <img src="{% static 'img/intro-avatar3.png' %}">
            <div class="persona-box">
            <h6>20대, 대학생</h6>
            <p>“룸메이트와 자취를 시작할 예정인데 처음이라 뭐부터 해야할지 &nbsp;모르겠어요”</p></div>
        </div>
    </div>
</div>

<div id="intro-service" style="background-color: #eee;">
    <div id="intro-service-text" class="text-center ">
        <h5>이제는 간편하고 평화롭게!</h5>
        <h6><span>노크노크</span>와 함께라면 할 수 있어요!</h6>
        <p>생활 수칙, 공유 캘린더, 오늘의 할 일 체크 등 <span>노크노크</span>의 다양한 기능들과<br>
        간편하게 룸메이트와의 생활을 관리해 보아요</p>
    </div>
    <div class="d-flex justify-content-center">
        <div class="intro-service-circle text-center">
            <span class="material-icons-round">
                manage_accounts
                </span>
            <h6>룸메이트 관리</h6>
        </div>
        <div class="intro-service-circle text-center">
            <span class="material-icons-round">
                inventory
                </span>
            <h6>생활수칙 관리</h6>
        </div>
        <div class="intro-service-circle text-center">
            <span class="material-icons-round">
                event_available
                </span>
            <h6>캘린더 공유</h6>
        </div>
        <div class="intro-service-circle text-center">
            <span class="material-icons-round">
                list_alt
                </span>
            <h6>할 일 체크</h6>
        </div>
        <div class="intro-service-circle text-center">
            <span class="material-icons-round">
                library_books
                </span>
            <h6>커뮤니티</h6>
        </div>
    </div>
</div>
<div id="intro-feat1" class="d-flex flex-column align-items-center intro-feature" >
    <span class="material-icons-round">
        manage_accounts
        </span>
    <h6>룸메이트 관리</h6>
    <p>룸메이트를 등록하고 프로필을 확인하세요!</p>

    <div id="intro-roommate">
        <img src="{% static 'img/intro-roommate.png' %}">
    </div>
</div>
<div id="intro-feat2" class="d-flex intro-feature" >
    <div style="margin-left: 15rem; margin-top: 12rem;">
    <span class="material-icons-round">
        inventory
        </span>
    <h6>생활수칙 관리</h6>
    <p>가이드라인을 통해 생활 수칙을 관리해 보세요!</p>
    </div>
    <div id="intro-living">
        <img src="{% static 'img/intro-living.png' %}">
    </div>
    
</div>
<div id="intro-feat3" class="d-flex intro-feature" >
    <div id="intro-cal">
        <img id="intro-cal-img" src="{% static 'img/new-cal.png' %}">
    </div>
    <div style="margin-top: 16rem; margin-left: 8rem">
        <span class="material-icons-round">
            event_available
            </span>
        <h6>캘린더 공유</h6>
        <p>캘린더에서 우리집의 할 일 달성률을 한 번에 확인해보세요!</p>
    </div>
</div>
<div id="intro-feat4" class="d-flex flex-column align-items-center intro-feature" >
    <span class="material-icons-round"> list_alt </span>
    <h6>할 일 체크</h6>
    <p>룸메이트와 나의 할 일을 매번 체크하고 달성률을 확인해 보세요!</p>
    <div id="intro-check">
        <img src="{% static 'img/intro-check.png' %}">
    </div>

</div>
<footer>
    <div class="footer-content" style="display: flex;">
        <div class="footer-1" style="margin-right: 5rem; display: flex; flex-direction: column; justify-content: center;">
            {% if request.user.is_authenticated %} 
            <a class="list-group-item-action footer-title" href="#intro-main">©Knock/Knock</a>
            {% else %}
            <a class="list-group-item-action footer-title" href="#intro-main-notlog">©Knock/Knock</a>
            {% endif%}
            <p class="footer-subtitle">룸메이트와의 쾌적하고 편안한 생활 지킴이</p>
        </div>
        <div class="footer-li list-group">
            <div class="footer-2">
                <h5><a class="list-group-item-action" href="#intro-persona">서비스 소개</a></h5>
                <ul>
                    <li class="footer-index"><a class="list-group-item-action" href="#intro-feat1">룸메이트 관리</a></li>
                    <li class="footer-index"><a class="list-group-item-action" href="#intro-feat2">생활수칙 관리</a></li>
                    <li class="footer-index"><a class="list-group-item-action" href="#intro-feat3">캘린더 공유</a></li>
                    <li class="footer-index"><a class="list-group-item-action" href="#intro-feat4">할 일 체크</a></li>
                    <li class="footer-index"><a>커뮤니티</a></li>
                </ul>
            </div>
            <div class="footer-3">
                <h5><a class="list-group-item-action" href="#intro-feat5">커뮤니티</a></h5>
                <ul>
                    <li class="footer-index">공지사항</li>
                    <li class="footer-index">자유게시판</li>
                    <li class="footer-index">성향테스트</li>
                </ul>
            </div>
            <div class="footer-4">
                <h5><a href="">ABOUT US</a></h5>
                <ul>
                    <li class="footer-index">서비스 소개</li>
                    <li class="footer-index">CONTACT US</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endblock%}
