{% extends 'base.html' %}
{% load static %}
{% block script %}
<script defer src="{% static 'js/login/mypage.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}

    <div class="mypage-container">
        <div class="side-nav">
            <ul class="d-flex">
                <li>마이페이지</li>
            </ul>
        </div>
        <div class="mypage-profile">
            <p><img src="{% static 'img/edit_icon.png' %}" ></p>
            <div class="cal-profile-box my-3">
                {% if user.profile_img %}
                <img class="cal-profile-img" src= "{{user.profile_img.url}}">
                {% else %} 
                <img class="cal-profile-img" src= "https://images.unsplash.com/photo-1561948955-570b270e7c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=301&q=80">
                {% endif %}>
            </div>

            <div class="cal-profile-username">
                {{user.nick_name}}
                <p>@{{user.username}}</p>
            </div>
            <a href="{% url 'login:user_update' %}"><button>회원정보 수정</button></a>
        </div>

        <div class="mypage-content">
            <div class="mypage-item">
                <h4>나의 룸메이트</h4>
                {% for roommate in roommates %}
                    <p>{{roommate}}</p>
                    <button type="button" class="view-btn {{roommate.id}} btn btn-ligth" data-bs-toggle="modal" data-bs-target="#profilemodal">프로필 보기</button>
                {% endfor %}

            </div>
            <div class="mypage-item">
                <h4>나의 집</h4>
                {% if request.user.home %}
                    <p>{{ request.user.home.name }}</p>
                {% else %}
                    <p>등록된 집이 없습니다.</p>
                {% endif %}
                {% if request.user.home %}
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#moveHomeModal">이사하기</button>
                {% endif %}
                {% if request.user.invite and request.user.invite.is_accepted is False %}
                    <p>초대가 왔어요!</p>
                    <p>{{request.user.invite.home.name}}</p>
                    <a href="{% url 'setting:accept_invite' %}" class="btn btn-dark">수락하기</a>
                {% endif %}
            </div>
        </div>
        <div class="mypage-content">
            <div class="mypage-item">
                <h4>칭호관리</h4>
                {% for title in titles %}
                    <button><p>{{title.name}}</p></button>
                {% endfor %}
            </div>
            <div class="mypage-item">
                <h4>달성률</h4>
            </div>
        </div>

    <!-- Modal -->
    <div class="modal fade" id="moveHomeModal" tabindex="-1" aria-labelledby="moveHomeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moveHomeModalLabel">이사하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                정말로 이사가시겠습니까?<br /><br />
                이사하실 경우 집 관련 전체 정보가 초기화되며, 일부 기록(거주 기간, 생활수칙)을 제외한 모든 기록이 파기됩니다.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <a href="{% url 'login:leave_home' %}" class="btn btn-danger">이사가기</a>
            </div>
        </div>
    </div>
</div>

<!--이전 집 기록 html-->
<div class="past-record">
    <h5>이전 집 기록</h5>
    <hr />
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td>기간</td>
                <td>이름</td>
                <td></td>
            </tr>
            {% for prehome in prehomes %}
            <tr>
                <td>{{prehome.start_date}} ~ {{prehome.end_date}}</td>
                <td>{{prehome.home.name}}</td>
                <td><a class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#prehomeRuleModal-{{prehome.pk}}">생활수칙
                        보기</a></td>

                <!-- Modal -->
                <div class="modal fade" id="prehomeRuleModal-{{prehome.pk}}" tabindex="-1"
                    aria-labelledby="prehomeRuleModalLabel" aria-hidden="true">
                    <div class="modal-dialog past-record__modal-rule">
                        <div class="modal-content">
                            <div class="past-record__modal-rule-header">
                                <p class="modal-title" id="prehomeRuleModalLabel">{{ prehome.home.name }}</p>
                            </div>
                            <div class="modal-body">
                                <p>룸메이트</p>
                                <hr/>
                                <div class="past-record__preroommates">
                                {% for preroommate in preroommates_dict|get_item:prehome.home.name %}
                                    <div class="past-record__preroommates-profile">
                                    {% if preroommate.user.profile_img %}
                                    <img src="{{ preroommate.user.profile_img.url }}" />
                                    {% else %}
                                    <i class="fas fa-user-circle"></i>
                                    {% endif %}
                                    <p>{{ preroommate.user.nick_name }}</p>
                                    </div>
                                {% endfor %}
                                </div>
                                
                                <p>생활수칙</p>
                                <hr/>
                                {% for cate in prehome_dict|get_item:prehome.home.name %}
                                <div class="past-record__modal-rule-cate">{{ cate }}</div>
                                {% for rule in prehome_dict|get_item:prehome.home.name|get_item:cate %}
                                <div class="past-record__modal-rule-content">
                                    <p>{{ rule }}</p>
                                    <input id="past-record__checkbox-{{prehome.pk}}"
                                        class="past-record__checkbox past-record__checkbox-{{prehome.pk}} past-record__display-none"
                                        data-cate="{{cate}}" value="{{ rule }}" type="checkbox" />
                                </div>
                                {% endfor %}
                                {% endfor %}
                            </div>
                            <div class="past-record__modal-rule-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                {% if request.user.home %}
                                <a href="#" onclick="takePrehomeRecord({{prehome.pk}})"
                                    id="past-record__take-btn-{{prehome.pk}}" class="btn btn-outline-primary">생활수칙
                                    가져오기</a>
                                <a onclick="savePrehomeRecord({{prehome.pk}})" id="past-record__save-btn-{{prehome.pk}}"
                                    class="btn btn-outline-danger past-record__display-none">저장하기</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
