<!--이전 집 기록 html. 나중에 mypage 밑에 붙여넣는다. -->
{% extends 'base.html' %}
{% block content %}
    <div class="past-record">
        <h5>이전 집 기록</h5>
        <hr/>
        <table class="table table-borderless">
        <tbody>
            <tr>
            <td>기간</td>
            <td>이름</td>
            <td></td>
            </tr>
        {% for prehome in prehomes %}
            <tr>
                <td>{{prehome.start_date}} ~ {{prehome.end_date}}</td>
                <td>{{prehome.home.name}}</td>
                <td><a class="btn btn-outline-primary">생활수칙 보기</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}