{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login/profile_update.css' %}?after %}">
{% endblock %}

{% block script %}
<script defer src="{% static 'js/login/profile_update.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<section class="profile-update">
    <div>
        <h1 class="container__title">프로필 이미지 수정</h1>
        <hr />
        <div class="container">
            <form method="post" action="{% url 'login:profile_update' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="my-3">현재 사진 </label>
                <div class="mypage-profile-box">
                    {% if request.user.profile_img %}
                    <img class="mypage-profile-img" src= "{{request.user.profile_img.url}}">
                    {% else %} 
                    <img class="mypage-profile-img" src= "https://images.unsplash.com/photo-1561948955-570b270e7c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=301&q=80">
                    {% endif %}>
                </div>
                <div class="file-container my-5">
                    <input name="represent" type="file" maxlength="255" value="{% if user.profile_img %}{{user.profile_img.url}}{% endif %}">
                </div>
                <input class="container__btn mt-2" type="submit" value="다음">
            </form>
        </div>
    </div>
</section>

{% endblock %}