{% extends 'base.html' %}
{% load static %}

{% block script %}
<script defer src="{% static 'js/login/sign_up.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>회원정보 수정</h1>

    <form method="POST" action="{% url 'login:user_update' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        성별:
        <br>
        <select name="gender" id="GENDER_CHOICES">
            <option>남성</option>
            <option>여성</option>
            <option>그외</option>
        </select>
        <br>
        닉네임:
        <br>
        <input class="form-input3" id="signup-register-nick_name" name="nick_name" type="text" maxlength="30" required>
        <button type="button" onclick="onClickCheckNickName()" class="signup-register__btn">중복 확인</button>
        <span id="signup-register-alert3"></span>
        <br>
        <button type="submit" onclick="userRegisterHandleSubmit(event)" id="signup-register__register-btn">다음</button>
    </form>
</div>

{% endblock %}