{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>회원정보 수정</h1>

    <form method="POST" action="{% url 'login:user_update' %}">
        {% csrf_token %}
        
        성별:
        <br>
        <select name="gender" id="GENDER_CHOICES">
            <option>남성</option>
            <option>여성</option>
            <option>그외</option>
        </select>
        <br>
        닉네임:
        <br>
        <input name="nick_name" type="text">
        <br>
        <input type="submit" value="다음">
    </form>
</div>

{% endblock %}