{% extends 'base.html' %}
{% load static %}

{% block script %}
<script>
    const inviteLinkAlert = (home_name) =>{
        alert(`${home_name}에 노크했습니다. 수락을 기다려주세요.`);
    }

</script>
{% endblock %}
{% block content %}
<section class="invite-link">
    <div class="invite-link__exist">
        <div class="invite-link__list">
            <h1>🏡 {{ home.name }}</h1>
            <div class="invite-link__list__row">
                <div class="invite-link__list__column">
                    <i class="fas fa-home"></i>
                </div>
            </div>
            <div class="invite-link__enter">
                <a href="#" onclick="inviteLinkAlert('{{home.name}}')" class="invite-link__enter__btn"><i class="fas fa-door-open"></i> 노크하기</a>
            </div>
        </div>
</section>
{% endblock %}