{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="myhome-setting">
    <div class="myhome-setting__exist">
        <div class="myhome-setting__list">
            <h1>🏡 {{ home.name }}</h1>
            <div class="myhome-setting__list__row">
                <div class="myhome-setting__list__column">
                    <i class="fas fa-home"></i>
                </div>
            </div>
            <div class="myhome-setting__enter">
                <a href="#" class="myhome-setting__enter__btn"><i class="fas fa-door-open"></i> 노크하기</a>
            </div>
        </div>
</section>
{% endblock %}