{% extends 'base.html' %}
{% block content %}
<section class="myhome-setting">
    <div class="myhome-setting__exist">
    {% if is_home %}
        <div class="myhome-setting__list">
            <h1>{{ user_name }} 의 {{ home_name }}</h1>
            <div class="myhome-setting__list__row">
            {% for roommate in roommates %}
                <div class="myhome-setting__list__column">
                    {% if roommate.profile_img %}
                        <img src="{{ roommate.profile_img.url }}"/>
                    {% else %}
                        <i class="fas fa-user-circle"></i>
                    {% endif %}
                        <div>{{ roommate.nick_name }}</div>
                    <!--나중에 칭호-->
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="myhome-setting__enter">
            <a href="{% url 'setting:myhome_detail' %}" class="myhome-setting__enter__btn"><i class="fas fa-door-open"></i> 입장하기</a>
            <p>입장하기 버튼을 눌러 우리 집을 관리해보세요.</p>
        </div>
    </div>
    {% else %}
        집을 먼저 등록해주세요.
        <a href="{% url 'setting:myhome_register' %}" class="btn btn-outline-primary">집 등록하러 가기</a>
    {% endif %}
    
</section>

{% endblock %}