{% extends 'base.html' %}

{% block content %}
<div class="myhome-detail">
    <div>
        <div class="myhome-info">
            <p class="myhome-detail__title">집 정보</p>
            <hr/>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="myhome-detail__row">
                    <label>집 이름 </label>  
                    <input class="form-input" id="myhome-register-name" name="name" type="text" maxlength="30"/>
                    <button type="button" onclick="onClickCheckHomeName()" class="myhome-detail__btn">중복 확인</button>
                    <span id="myhome-register-alert"></span>
                </p>
                <p class="myhome-detail__row">
                    <label>월세 납부일: </label>
                    <input class="form-input" name="rent_month" type="number"/> <span>개월마다 </span>
                    <input class="form-input" name="rent_date" type="number"/> <span>일</span>
                </p>
                <p class="myhome-detail__row">
                    <label>공과금 종류 </label> 
                    <input class="form-input" name="utility_name" type="text" maxlength="30"/>
                </p>
                <p class="myhome-detail__row">
                    <label>공과금 납부일: </label> 
                    <input class="form-input" name="utility_month" type="number"/> <span>개월마다</span>
                    <input class="form-input" name="utility_date" type="number"/> <span>일</span>
                </p>
                <button type="submit" class="myhome-detail__btn">집 등록</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    const home_name = document.getElementById('myhome-register-name');
    const onClickCheckHomeName = async() => {
        if(home_name == "") return;
        const url = "../../myhome/check_homename/";
        const res = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': "application/x-www-form-urlencoded"
            },
            body: JSON.stringify({
                'home_name' : home_name.value
            })
        });
        const { is_available: is_available } = await res.json()
        checkHomeNameHandleResponse(is_available);
    }

    const checkHomeNameHandleResponse = (is_available) => {
        const alert = document.querySelector('#myhome-register-alert');
        
        if(is_available){
            //사용할 수 있는 이름입니다~
            alert.innerHTML=" 사용할 수 있는 이름입니다. ";
            alert.style.color="green";

            return;
        }
        else{
            alert.innerHTML=" 이미 사용 중인 이름입니다. ";
            alert.style.color="red";
        }
        // 중복임 =>경고
        home_name.value = "";
    }
    
</script>
{% endblock %}