{% extends 'base.html' %}

{% block content %}
<section class="myhome-detail">
    <div>
        <div class="myhome-info">
            <p class="myhome-detail__title">집 정보</p>
            <hr/>
            <p class="myhome-detail__row">
                <label>현재 집이름</label>
                <span id="myhome-info__current-home-name">{{ home_name }}</span>
            </p>
            <p class="myhome-detail__row myhome-detail__row__homename">
                <label>집이름 변경</label>
                <input type="text" id="new-home-name" placeholder="변경할 집 이름을 입력하세요."/>
                <!--<i class="fas fa-pen"></i>-->
            </p>
            <p class="myhome-detail__row">
                <label>전세/월세</label>
                <!--전세 클릭하면 n개월마다 n일 클릭X 월세 클릭하면 n개월마다 n일 활성화-->
                <span class="myhome-info__rent-btn">전세</span>
                <span class="myhome-info__rent-btn">월세</span>
            </p>
            <p class="myhome-detail__row myhome-detail__row__rent">
                <label>월세 납부일</label>
                <input type="number" id="new-rent-month" value="{{ rent_month }}"/><span>개월마다</span>
                <input type="number" id="new-rent-date" value="{{ rent_date }}" /><span>일</span>
            </p>
            <p class="myhome-detail__row">
                <div class="myhome-detail__row__utility">
                <label>공과금 납부일</label>
                    {% for utility in utilities %}
                    <div class="myhome-detail__row__rent" >
                        <div class="myhome-detail__row__rent-type"><span>종류</span><span>{{ utility.name }}</span></div>
                        <input type="number" id="new-utility-month" value="{{ utility.month }}"/><span>개월마다</span>
                        <input type="number" id="new-utility-date" value="{{ utility.date }}" /><span>일</span>
                    </div>
                    {% endfor %}
                </div>
            </p>
            <button type="submit" onclick="onClickSaveHome()" class="myhome-detail__btn">저장하기</button>
        </div>
        <div class="myhome-roommate">
            <p class="myhome-detail__title">룸메이트</p>
            <hr/>
            <div>
            {% for roommate in roommates %}
                <div class="myhome-roommate__column">
                {% if roommate.profile_img %}
                    <img src="{{ roommate.profile_img.url }}" height="220" width="220"/>
                {% else %}
                    <i class="fas fa-user-circle"></i>
                {% endif %}
                    <p>{{ roommate.nick_name }}</p>
                </div>
            {% endfor %}    
                <!--룸메이트 추가 버튼-->
                <div class="myhome-roommate__invite">
                    <a data-bs-toggle="modal" data-bs-target="#roommateAddModal"><i class="fas fa-plus-circle"></i></a>
                </div>    
                <!-- Modal -->
                <div class="modal fade" id="roommateAddModal" tabindex="-1" aria-labelledby="roommateAddModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title myhome-roommate__modal-font" id="roommateAddModalLabel">룸메이트 초대</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="myhome-roommate__modal-input"><input type="text" id="myhome-roommate-invite__input" placeholder="등록할 룸메이트의 아이디를 입력하세요."/>
                            <!--<i class="fas fa-plus-square"></i>-->
                            </div>
                            <div class="form-check">
                            <!--유저 검색 결과 리스트가 나타날 곳-->
                            </div>                        
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary myhome-roommate__modal-font" data-bs-dismiss="modal">닫기</button>
                        <button type="button" onclick="onClickInvite()" class="btn btn-primary myhome-roommate__modal-font" data-bs-dismiss="modal">룸메이트 초대</button>
                        <!--ajax로 초대 구현-->
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <div class="myhome-move">
            <p class="myhome-detail__title">집 이전</p>
            <hr/>
            <a href="{% url 'login:mypage' %}" class="myhome-detail__btn">이사하기</a>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
/* 집 정보 변경 ajax */
    const home_name = document.querySelector('#new-home-name');
    const rent_month = document.querySelector('#new-rent-month');
    const rent_date = document.querySelector('#new-rent-date');
    const utility_month = document.querySelector('#new-utility-month');
    const utility_date = document.querySelector('#new-utility-date');

    const onClickSaveHome = async() => {
        if(home_name.value.trim() == "" || rent_month.value == "" || rent_date.value == "" || utility_month.value == "" || utility_date.value == ""){
            alert('입력하지 않은 항목이 있습니다.');
            return;
        }
        const url = "../../myhome/myhome_update/";
        const res = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': "application/x-www-form-urlencoded"
            },
            body: JSON.stringify({
                'home_name' : home_name.value,
                'rent_month' : rent_month.value,
                'rent_date' : rent_date.value,
                'utility_month' : utility_month.value,
                'utility_date' : utility_date.value,
            })
        });
        const { home_name: new_home_name } = await res.json()
        saveHomeHandleResponse(new_home_name);
    }

    const saveHomeHandleResponse = (new_home_name) => {
        const current_name = document.querySelector('#myhome-info__current-home-name');
        current_name.innerText = new_home_name;
        home_name.value = "";
    }
    

/*초대 검색창 - ajax*/
    const search_input = document.querySelector('#myhome-roommate-invite__input');
    search_input.addEventListener("keyup", (e) => {
        if(search_input.value == "") return;
        onSearchUserList(search_input.value);
    });

    const onSearchUserList = async(value) => {
        const url = "../../myhome/search_user/";
        const res = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': "application/x-www-form-urlencoded"
            },
            body: JSON.stringify({
                'search_word' : value
            })
        });
        const { user_list: user_list } = await res.json()
        searchUserListHandleResponse(user_list);
    }

    const searchUserListHandleResponse = (user_list) => {
        //list 보여줌
        const div = document.querySelector('.form-check');
        div.innerHTML = "";
        for(let i = 0 ; i < user_list.length ; i++){
            const li = document.createElement('div');
            li.classList.add('myhome-roommate__modal-user-list');

            if(user_list[i]['profile'] ==""){

                li.innerHTML =`<input class="form-check-input" type="checkbox" value="${user_list[i]['nickname']}" onclick='getCheckboxValue(event)' id="flexCheckDefault">
                            <i class="fas fa-user-circle"></i>
                            <p>${user_list[i]['nickname']}</p>`;
                            
            }else{
                li.innerHTML = `<input class="form-check-input" type="checkbox" value="${user_list[i]['nickname']}" onclick='getCheckboxValue(event)' id="flexCheckDefault">
                            <img src="${user_list[i]['profile']}"/>
                            <p>${user_list[i]['nickname']}</p>`;
            }
            div.appendChild(li);
        }
    }

/*초대 ajax*/
    //초대를 위해 체크한 사람들 목록
    let checkedNickName = [];
    const getCheckboxValue = (event) => {
        if(event.target.checked)  {
            checkedNickName.push(event.target.value);
        }else {
            checkedNickName = checkedNickName.filter(function(item) {
                return item !== event.target.value;
            });
        }
    }

    const onClickInvite = async() => {
        if (checkedNickName.length==0) return; //아무것도 체크 X
        const url = "../../myhome/invite_roommate/";
        const res = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': "application/x-www-form-urlencoded"
            },
            body: JSON.stringify({
                'invite_list' : checkedNickName
            })
        });
        checkedNickName = [];
    }

/*부트스트랩 모달 닫힘 이벤트 감지*/
    const invite_modal_close = document.querySelector('#roommateAddModal');
    invite_modal_close.addEventListener('hidden.bs.modal', ()=>{
        search_input.value="";
        const div = document.querySelector('.form-check');
        div.innerHTML = "";
    })

</script>
{% endblock %}
