{% extends 'home/date_todo/date_todo_base.html' %}
{% load static %}
{% block data_todo %}

<div class="tab-pane fade show active" id="mytodo" role="tabpanel" aria-labelledby="mytodo-tab">
    
    {% if user_todos.count is 0 %}
    <h2>아직 담당하는 할 일이 없어요~!</h2>
    <h2>전체 할 일에서 가져와 볼까요?</h2>
    {% else %}
    <h2>오늘해야하는 {{username}}님의 할일 ~</h2>
    {% endif %}
    <div class="user-todos">
        {% for user_todo in user_todos %}
        <div class="user-todo">
            <p>{{user_todo.content}}</p>
            <button class="is-done-btn btn btn-dark">
                {% if user_todo.is_done is True %}
                <p>완료!</p>
                {% else %}
                <p>진행중...</p>
                {% endif %}
            </button>
            <button type="button" class="edit-btn {{user_todo.id}} btn btn-ligth" onclick="setBtn(this, '{{ user_todo.content }}', '{{ user_todo.user.username }}', '{{ user_todo.cate.name }}')" data-bs-toggle="modal" data-bs-target="#setToDoModal">설정</button>
        </div>
        {% endfor %}
    </div>
</div>

<div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
    {% if total_todos.count is 0  %}
    <h2>오늘 해야할 일을 등록해주세요~!</h2>
    {% else %}
    <h2>오늘 우리 집의 할일~</h2>
    {% endif %}
    <div class="total-todos">
        {% for total_todo in total_todos %}
        <div class="total-todo">
            <p>{{total_todo.content}}</p>
            <button type="button" class="edit-btn {{total_todo.id}} btn btn-light" onclick="setBtn(this, '{{ total_todo.content }}', '{{ total_todo.user.username }}', '{{ total_todo.cate.name }}')" data-bs-toggle="modal" data-bs-target="#setToDoModal">설정</button>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}