{% extends 'home/date_todo/date_todo_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home/date_todo.css' %}">
{% endblock %}
{% block data_todo %}
<div class="tab-pane fade show active" id="mytodo" role="tabpanel" aria-labelledby="mytodo-tab">
    <div class="cate-container">
        <div class="cate complete-cate">
            <p>완료</p>
            <div class="complete-user-todo"></div>
            {% for todo in complete_user_todos %}
                <div class="complete-user-todo">
                    <button class="btn" onclick="notDoneBtn()">완료! 버튼</button>
                    <p>{{ todo.content }}</p>
                    <button class="btn" onclick="feedbackBtn()">피드백 버튼</button>
                    <p>{{ todo.is_done_date }} 완료!</p>
                    {% if todo.is_postpon is True %}
                    <p>잊지 않고 해냈어요~!</p>
                    {% else %}
                    <p>미루지 않고 해냈어요!</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% for cate, user_todos in user_todo_dict.items %}
        <div class="cate user-todo d-inline-block">
            <p>{{cate.name}}</p>
            <div class="user-todos">
            {% if user_todos.count is not 0 %}
                {% for user_todo in user_todos %}
                {% if user_todo.is_done is False%}
                <div class="user-todo">
                    <button class="btn" onclick="isDoneBtn()">미완료</button>
                    <p>{{ user_todo.content }}</p>
                    <button type="button" class="edit-btn {{user_todo.id}} btn btn-ligth" onclick="setBtn(this, '{{ user_todo.content }}', '{{ user_todo.user.username }}', '{{ user_todo.cate.name }}')" data-bs-toggle="modal" data-bs-target="#setToDoModal">설정</button>
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
    {% if total_todos.count is 0  %}
    <h2>오늘 해야할 일을 등록해주세요~!</h2>
    {% else %}
    <h2>오늘 우리 집의 할일~</h2>
    {% endif %}
    <div class="total-todos">
        {% for total_todo in total_todos %}
        <div class="total-todo">
            <p>{{total_todo.content}}</p>
            <button type="button" class="edit-btn {{total_todo.id}} btn btn-light" onclick="setBtn(this, '{{ total_todo.content }}', '{{ total_todo.user.username }}', '{{ total_todo.cate.name }}')" data-bs-toggle="modal" data-bs-target="#setToDoModal">설정</button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}



{% block date_todo_modal %}
<div class="modal fade" id="addToDoModal">
    <div class="modal-dialog">
        <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title">할 일 추가하기</h5>
		            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		        </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.as_table }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">저장</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </form>
        </div>
    </div>
</div>


<div class="modal fade" id="setToDoModal">
    <div class="modal-dialog">
        <div class="modal-content">
		        <div class="modal-header">
		            <h5 class="modal-title">할 일 설정</h5>
		            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		        </div>
                <form method="post" action="{% url 'home:edit_todo' date='{ {select_date }}' todo_id=0 %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <a class="edit-btn btn btn-light" onclick="showEdit()">수정</a>
                        <a class="date-change-btn btn btn-light">날짜 바꾸기</a>
                        <a class="date-next-btn btn btn-light">내일 하기</a>
                        <a class="delete-btn btn btn-ligth" href="{% url 'home:delete_todo' date='{{select_date}}' todo_id=0 %}">삭제</a>
                        
                        <div class="edit-todo" style="display: none;">
                            {{form.as_p}}
                            <button class="edit-back-btn btn btn-light" type="submit">완료</button>
                            <a class="edit-back-btn btn btn-light" onclick="closeEdit()">돌아가기</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeEdit()" data-bs-dismiss="modal">닫기</button>
                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}