/*이전집 기록 보기, 이사하기, 생활수칙보기*/
#moveHomeModal {
    font-size: 1.5rem;
}

#moveHomeModal .modal-body {
    padding: 3rem 2rem;
    line-height: 2rem;
}

#moveHomeModal .modal-footer button,
#moveHomeModal .modal-footer a {
    font-size: 1.5rem;
}

/*생활수칙 모달*/
.past-record__modal-rule {
    font-size: 1.5rem;
    text-align: center;
}

.past-record__modal-rule .modal-content {
    padding: 4rem;
}

.past-record__modal-rule .modal-content .past-record__modal-rule-header {
    font-weight: 600;
    font-size: 1.7rem;
}

.past-record__modal-rule .modal-body {
    text-align: left;
    height: 50rem;
    overflow: scroll;
}

.past-record__modal-rule .modal-body::-webkit-scrollbar {
    display: none;
}

/*생활수칙 모달 - 룸메이트*/
.past-record__preroommates {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}
.past-record__preroommates-profile{
    text-align: center;
    padding: 0 1rem;
}
.past-record__preroommates-profile img{
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
}
.past-record__preroommates-profile i{
    font-size: 5rem;
}

/*생활수칙 모달 - 생활수칙*/
.past-record__modal-rule-cate {
    background-color: rgb(255, 197, 109);
    display: inline-block;
    padding: 0.5rem .5rem;
    border-radius: 1rem;
    margin: 1rem 0 .5rem 0;
}

.past-record__modal-rule-content {
    padding: .3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}

.past-record__modal-rule .past-record__modal-rule-footer button,
.past-record__modal-rule .past-record__modal-rule-footer a {
    font-size: 1.5rem;
    margin-top: 2rem;
}

/*ajax*/
.past-record__display-none {
    display: none;
}

.past-record__checkbox {
    border: 2px solid rgb(255, 197, 109);
    padding: .8rem;
    cursor: pointer;
}

.past-record__checkbox:checked {
    background-color: rgb(255, 197, 109);
}