
.profile-delete {
    display: flex;
    justify-content: center;
}

.profile-delete>div {
    margin: 3rem 20rem;
    width: 90rem;
}

.container__title {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 3rem;
}

.container{
    display: flex;
    justify-content: center;
}

.container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
}

.container > form > label {
    font-size: 2rem;
    font-weight: 600;
}

.mypage-profile-box {
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
}

.mypage-profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-container {
    font-size: 1.5rem;
    padding: .5rem;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 1rem;
}

.container__btn {
    width: 10rem;
    font-size: 1.5rem;
    background-color: white;
    border: 0.2rem solid rgb(255, 197, 109);
    padding: .5rem 1.5rem;
    color: rgb(255, 197, 109);
    border-radius: 5rem;
    transition: all 0.2s ease-in-out;
}

.container__btn:hover {
    background-color: rgb(255, 197, 109);
    color: white;
}